/* Extracted from https://picturepan2.github.io/spectre */

// Sizes
$layout-spacing: 0.5rem !default;

// Responsive breakpoints
$size-xs: 480px !default;
$size-sm: 600px !default;
$size-md: 840px !default;
$size-lg: 960px !default;
$size-xl: 1280px !default;
$size-2x: 1440px !default;
