<div class="p-4 rounded bg-gray-200">
  <h2 class='text-primary'>Hero Form</h2>
  <form [formGroup]="heroForm" #ngHeroForm="ngForm" (ngSubmit)="onSubmit(ngHeroForm)" class="flex flex-col">
    <section class="mb-2">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required placeholder="Hero name">
        <mat-error *ngIf="name.invalid && name.touched">Name is required</mat-error>
      </mat-form-field>
    </section>
    <section class="mb-2">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Alter Ego</mat-label>
        <input matInput formControlName="alterEgo" placeholder="Hero alter ego">
      </mat-form-field>
    </section>
    <section class="mb-2">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Choose Power</mat-label>
        <mat-select formControlName="power" required>
          <mat-option *ngFor="let item of powers" [value]="item">
            {{ item }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="power.invalid && power.touched">Please select a power</mat-error>
      </mat-form-field>
    </section>
    <section class="self-end">
      <button mat-raised-button [disabled]="heroForm.invalid" color='primary'>Submit</button>
    </section>
  </form>
</div>
